$tokoo-primary-color: #2c3e50;
$primary-bg-color: $tokoo-primary-color;
$primary-text-color: #fff;
@import "../vendors/bootstrap/functions";
@import "../vendors/bootstrap/variables";
@import "../vendors/bootstrap/mixins";
@import "../utilities/primary-color.scss";
