.widget_tag_cloud {
    .tag-cloud-link {
        font-size: 14px !important;
        line-height: 32px;
        padding: 2px 20px;
        border-radius: 0;
        border: 1px solid;
        display: inline-block;
        font-weight: 500;
        margin-bottom: 18px;
        text-transform: uppercase;
        margin-right: 12px;

    }
}
