.metaField_radio,
.metaField_checkbox {
    display: block; 
    padding: 2px 0;
}

.metaField_caption {
    color: #999;
}

.metaField_text {
    width: 100%;
}

.tokoo-custom-primary-color-textarea {
    width: 100%; 
    height: 600px; 
    font-family: monospace;
}